/* HorizontalMenu.css */
.horizontal-menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
  overflow-wrap: break-word;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow-wrap: break-word;
}

.menu-item h3 {
  /* font-size: 24px;
  margin-bottom: 5px; */
  overflow-wrap: break-word;
}

.menu-item span {
  /* font-size: 1.5rem; */
  font-family: 'Courier New', Courier, monospace
}

@media screen and (max-width: 768px) {
  .horizontal-menu {
    flex-direction: column;
    align-items: stretch;
  }

  .menu-item {
    padding: 10px;
  }
}

.menu-item:hover {
  background-color: #ddd;
  color: black;
}
