/* .activities-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
  } */
  
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tab.active {
    background-color: #3498db;
    color: white;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  